<div class="page-info">
    <div class="page-header">
        <h2>Категории</h2>
    </div>
    <a class='list-item' href=''> Category</a>
    <a class='list-item' href=''> Category</a>
    <a class='list-item' href=''> Category</a>
    <a class='list-item' href=''> Category</a>
    <a class='list-item' href=''> Category</a>   
</div>