<div class="page-info">
    <div class="page-header">
        <h2>Категории</h2>
    </div>

    <% 
    
        categories.forEach(category => {

    %>

    <a class='list-item' href='?category=<%=category.slug %>'> <%=category.name  %></a>
    <%
        })
    %> 

</div>