<header class="header container">
	<div class="header-logo">
	    <a href="/">Decode Blog</a>	
	</div>
	<form class="header-search" method="GET">
		<input type="hidden" name="page" value="1">
		<input type="text" class="input-search" placeholder="Поиск по блогам" name="q">
		<button class="button button-search" type="submit">
			<img src="/images/search.svg" alt="">	
			Найти
		</button>
	</form>
	<div>

		<% 
			if(typeof currentUser === 'object' && currentUser) {
		%>
        <a href="/profile/<%=currentUser.nickname %>">
            <img class="avatar" src="/images/avatar.png" alt="Avatar">
        </a>
		<% 
		} else {
		%>
        <div class="button-group">
            <a href="/register" class="button">Регистрация</a>
            <a href="/login" class="button">Вход</a>
        </div>

		<%
		}
		%>
	</div>
</header>